a {
    text-decoration: none;
    cursor: none;
    color: black;
}

a:hover{
    text-decoration: none;
    cursor: none;
    color: black;
}

body{
    background-image: url(http://i.stack.imgur.com/saZ01.jpg);
    background-size:cover;

}

.ryzh22:hover {
    color: blue;
    cursor: auto;
}

.ryzh22 {
    color: blue;
    cursor: auto;
}

.home {
    color: blue;
    cursor: auto;
}

.form {
    opacity:1;
    text-align: right;
    margin-right: 30px;
}

.container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSjll7URWniJ8YNVGmaauGN53zHu0A4WwI7SKFgi-uOGabIDUV);
    background-size:cover;
    opacity:0.9;
    border-color: inherit;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}
